.login {
	height:110px;
	width:190px;
	margin:auto;
	border:1px #CCC solid;
	padding:10px;
}
.login input {
	padding:5px;
	margin:5px;
}

.register {
	height:230px;
	width:190px;
	margin:auto;
	border:1px #CCC solid;
	padding:10px;
}
.register input {
	padding:5px;
	margin:5px;
}
.success{
	color:green;
}
.error{
	color:red;
}

.nav ul {
  font-family: Arial, Helvetica, sans-serif;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.nav li {
  float: left;
}

.nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav li a:hover:not(.active) {
  background-color: #111;
}

.nav .active {
  background-color: #4CAF50;
}

.add_post {
	height:110px;
	width:375px;
	margin:auto;
	border:1px #CCC solid;
	padding:10px;
}
.add_post input {
	padding:5px;
	margin:5px;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}